.logo {
  float: left;
  width: 200px;
  height: 64px;
  line-height: 64px;
  color: #fff;
  font-size: 24px;
}

.header {
  background: rgba(0,0,0,0.8);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
